@media (min-width: 66.5rem) { 
    .side-bar { width: calc((100% - 83.5rem) / 2 + 16.5rem); } 
    .side-bar + .main { 
        margin-left: Max(16.5rem, calc((100% - 83.5rem) / 2 + 16.5rem)); 
    }
    .main { max-width: 67rem; }
}
